<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <div class="container-fluid d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <p class="nav-link" aria-current="page" href="#"><a href="https://www.highcpmrevenuenetwork.com/ghcntjz75p?key=2bb372f4f91a42b9e8d64ae38e10b54e">AnimeARK</a></p>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="/searchAnime" method="post">
                    <a href=""><input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"></a>
                    <a href=""><button type="submit"><i class="bi bi-search"></i></button></a>
                </form>
            </div>
        </div>
    </nav>


    <section class="slide-show">
        <div class="swiper-slideshow">
            <div class="swiper-wrapper">
                <div class="swiper-slide d-flex align-items-center" style="background-image: url('img/slideshow2.jpg');">
                    <div class="container">
                        <div class="swiperSlideshowDesc">
                            <h1>AnimeARK</h1>
                            <p class="paragSatu">Anime streaming website, which provides</p>
                            <p class="paragDua">lots of anime with various genres.</p>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide d-flex align-items-center" style="background-image: url('img/slideshow1.jpg');">
                    <div class="container">
                        <div class="swiperSlideshowDesc">
                            <h1>Free</h1>
                            <p class="paragSatu">Can be watched for free, without</p>
                            <p class="paragDua">being charged anything.</p>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide d-flex align-items-center" style="background-image: url('img/slideshow3.jpg');">
                    <div class="container">
                        <div class="swiperSlideshowDesc">
                            <h1>Subtitle</h1>
                            <p class="paragSatu">Provides a universal translation</p>
                            <p class="paragDua">that uses English subtitles.</p>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide d-flex align-items-center" style="background-image: url('img/slideshow4.jpg');">
                    <div class="container">
                        <div class="swiperSlideshowDesc">
                            <h1>Watch</h1>
                            <p class="paragSatu">Try it now, before it all ends</p>
                            <div class="linkSlideshowButton d-flex justify-content-center align-items-center"><a href="#nontonAnime">Watch</a></div> 
                        </div>
                    </div>
                </div> 
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </section>

    <section class="recent-released" id="nontonAnime">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>Recent Released</h4>
                    <div class="row">
                        <% dataRecentEpisode.forEach(e => { %>
                            <div class="col-6 col-lg-4 myCard">
                                <div class="swiper-slide swiperSlidePopular">
                                    <div class="swiperPopularImg d-flex align-items-end justify-content-center" style="background-image: url('<%= e.animeImg %>');">
                                        <form action="/watch" method="post">
                                            <input type="hidden" name="detailId" value="<%= e.animeId %>">
                                            <input type="hidden" name="episodeId" value="<%= e.episodeId %>">
                                            <input type="hidden" name="episodeNum" value="<%= e.episodeNum %>">
                                            <a href="https://www.highcpmrevenuenetwork.com/ghcntjz75p?key=2bb372f4f91a42b9e8d64ae38e10b54e"><button type="submit">Watch</button></a>
                                        </form>
                                    </div>
                                    <div class="swiperPopularTitle">
                                        <h3><%= e.animeTitle %></h3>
                                        <p>Episode  : <%= e.episodeNum %></p>
                                    </div>
                                </div>
                            </div>
                        <% }); %> 
                    </div>
                </div>
                <div class="col-md-4 recent-released-genre">
                    <h4>Genres</h4>
                    <div class="row">
                        <% genre.forEach(e => { %> 
                            <div class="col-6 col-md-6 col-lg-4 genreButton d-flex align-items-center justify-content-center">
                                <form action="/genre" method="post">
                                    <input type="hidden" name="genre" value="<%= e.genre %>">
                                    <input type="hidden" name="title" value="<%= e.title %>">
                                    <a href=""><button type="submit"><%= e.title %></button></a>
                                </form>
                            </div>
                        <%  }); %> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="popular">
        <div class="container">
            <div class="swiper-popular">
                <h4>Popular</h4>
                <div class="swiper-wrapper">
                    <% dataPopular.forEach(e => { %>
                        <div class="swiper-slide swiperSlidePopular">
                            <div class="swiperPopularImg d-flex align-items-end justify-content-center" style="background-image: url('<%= e.animeImg %>');">
                                <form action="/detail" method="post">
                                    <input type="hidden" name="detailId" value="<%= e.animeId %>">
                                    <a href=""><button type="submit">See</button></a>
                                </form>
                            </div>
                            <div class="swiperPopularTitle d-flex justify-content-center">
                                <h3><%= e.animeTitle %></h3>
                            </div>
                        </div>
                    <% }); %> 
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </section>

    <section class="top-airing">
        <div class="container">
            <div class="swiper-top-airing">
                <h4>Top Airing</h4>
                <div class="swiper-wrapper">
                    <% dataTopAiring.forEach(e => { %>
                        <div class="swiper-slide swiperSlidePopular">
                            <div class="swiperPopularImg d-flex align-items-end justify-content-center" style="background-image: url('<%= e.animeImg %>');">
                                <form action="/detail" method="post">
                                    <input type="hidden" name="detailId" value="<%= e.animeId %>">
                                    <a href=""><button type="submit">See</button></a>
                                </form>
                            </div>
                            <div class="swiperPopularTitle d-flex justify-content-center">
                                <h3><%= e.animeTitle %></h3>
                            </div>
                        </div>
                    <% }); %> 
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </section>

    <section class="movies">
        <div class="container">
            <div class="swiper-movies">
                <h4>Movies</h4>
                <div class="swiper-wrapper">
                    <% dataMovies.forEach(e => { %>
                        <div class="swiper-slide swiperSlidePopular">
                            <div class="swiperPopularImg d-flex align-items-end justify-content-center" style="background-image: url('<%= e.animeImg %>');">
                                <form action="/detail" method="post">
                                    <input type="hidden" name="detailId" value="<%= e.animeId %>">
                                    <a href=""><button type="submit">See</button></a>
                                </form>
                            </div>
                            <div class="swiperPopularTitle d-flex justify-content-center">
                                <h3><%= e.animeTitle %></h3>
                            </div>
                        </div>
                    <% }); %> 
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </section>

    <section class="phone-genres">
        <div class="container">
            <h4>Genres</h4>
            <div class="row">
                <% genre.forEach(e => { %> 
                    <div class="col-4 col-md-6 genreButton d-flex align-items-center justify-content-center">
                        <form action="/genre" method="post">
                            <input type="hidden" name="genre" value="<%= e.genre %>">
                            <input type="hidden" name="title" value="<%= e.title %>">
                            <a href=""><button type="submit"><%= e.title %></button></a>
                        </form>
                    </div>
                <%  }); %> 
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/index.js"></script>
    </body>
</html>
